{:own [witek/bindscript
       witek/html-tools
       kunagi/facts-db
       kunagi/kunagi-base
       kunagi/kunagi-cqrs]


 :foreign {
           ;; cljc

           ;; clj
           ring                      {:mvn/version "1.7.0"}
           ring/ring-defaults        {:mvn/version "0.3.2"}
           ring-oauth2               {:mvn/version "0.1.4"}
           com.auth0/java-jwt        {:mvn/version "3.7.0"}
           http-kit                  {:mvn/version "2.3.0"}
           compojure                 {:mvn/version "1.6.1"}
           com.taoensso/sente        {:mvn/version "1.13.1"}}}
